<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Mono:wght@400&display=swap"/>
    <link rel="stylesheet" href="/static/specs.css">
</head>
<body>
    <div class="header">    
        <a href="/home">
        <img class="home-icon" src="http://127.0.0.1:9000/vedro/home.png" alt="Домой" />
        </a>
    </div>
    <div class="details-card">
        <div class="scope-content">
            <div class="scope-title">{{ .Specs.Name }}</div>
            <div class="scope-info">Диаметр: {{ .Specs.Diam }}</div>
            <div class="scope-info">Фильтр: {{ .Specs.Filter }}</div>
            <div class="scope-info">Эффективная длина волны: {{ .Specs.Lambda }}</div>
            <div class="scope-info">Ширина полосы пропускания: {{ .Specs.DeltaLamb }}</div>
            <div class="scope-info">Константа нулевой точк: {{ .Specs.ZeroPoint }}</div>
            <div class="scope-info">{{ .Specs.Desc }}</div>
            <div class="scope-buttons">
            </div>
        </div>
        <img class="scope-image" src="{{ .Specs.ImgLink }}" alt="{{ .Name }}">
    </div>
</body>
</html>
